<h2>Create new Author</h2>
<form action="/authors/create" method="POST">
  <label>
    Name
  </label>
  <input type="text" name="name">

  <label>
    Bio
  </label>
  <input type="text" name="bio">

  <label>
    Picture Url
  </label>
  <input type="text" name="pictureUrl">

  <button type="submit">Create</button>
</form>